#wishList{
	position: fixed;
	z-index: 995;
	bottom: 100px;
/*	bottom: 0;*/
	left: 15px;
	cursor: pointer;
}

#wishList #wishQty{
	position: absolute;
	top: 0;right: 0;
	width: 37px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	color: #333;
	font-family: Tahoma;
	font-size: 13px;
}



#wishList2{
	position: fixed;
	z-index: 995;
	bottom: 0;
	left: 15px;
	cursor: pointer;
}

#wishList2 #wishQty2{
	position: absolute;
	top: 10px;
	right: 3px; left: 1px; margin:auto;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #333;
	font-family: Tahoma;
	font-size: 1.3rem;
}