td{
    border-bottom: .5px dashed rgba(51, 51, 51, .1);
}

/*新增按鈕*/
.btAdd{
    display: inline-block;
    cursor:pointer;
    height: 20px;
    line-height: 20px;
}
.btSearch{
    width:100%;
    text-align: right;
    margin-bottom:10px; 
}
.btLists{
    width:100%;
}/*end*/
/*照片處理*/
.btheadshot{
    width:120px;
    text-align: center;
}
.btheadshot div{
    margin: auto;
    width:120px;
    height:90px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
/*照片處理*/


/*跳窗*/
.btCup{
    display: none;
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,.75);
    z-index: 99;
}
.outbtPopups{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    width:880px;
    height: 570px;   
}
.btPopups{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;  
    width:100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y: auto;
    text-align: center;
    padding:20px;
    box-sizing: border-box;
    background-color:#fff;
    outline: 1px solid #333;
}/*end*/
/*跳窗XX*/
.LM_cancel{
    width: 22px;
    height: 22px;
    background-color: #F76F32;
    position: absolute;
    top:-11px;
    right: -11px;
    line-height: 22px;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.cancelbtn{
    color: #fff;     
}
/*pencel和標題*/
.title{
    text-align: left;
    margin-left: 61px;
}
.penImg{
    display: inline-block;
    vertical-align:top;
}
.btTitle{
    display: inline-block;
    vertical-align:top;
    margin-bottom: 10px;
}
.btTitle input{
    outline: none;
    border:none;
    border-bottom: 5px solid #333;
    font-size: 1.25rem;
    text-align: center;
    font-family: 'Microsoft JhengHei';
    padding-bottom: 5px;
}
.icon-pencil{
    font-size: 1.15rem;
}
/*display:inline-block*/
.bt-inbl{
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}
/*line*/
.line{
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #333;
    margin-bottom: 10px;
}
/*類型*/
.bt_title{
    color:#fff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 80px;
    background-color: #333;
    display: inline-block;
    margin-bottom: 10px;
}
input[type="radio"]{
    display: none;
}

.bt_isCheck{
    text-align: center;
    display: inline-block;
    outline:1px solid #999;
    width: 36px;
    padding: 6px;
    margin:0 4px;
}
.bt_isCheck:hover{
    outline: 3px solid #333;
}
.bt_gray{
    outline: 3px solid #333;
}
/*支線*/
/*------------------下拉式選單-----------------*/
/*第一個篩選器*/
.filterFirst{
    font-size: 0;
    display: inline-block;
    margin-bottom: 10px;  
}
div[class*=filter]{
    position: relative;
}
.filterFirst img,.filterNth img{
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}
.drowStyle{
    font-family: '微軟正黑體';
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    height:30px;
    width:150px;
    padding:0 0 0 30px;
    text-align-last:center;
    background-color: #333;
    outline: none;
    border:none;
    color:#fff;
}
/*date*/
.btDay{
    height: 26px;
    vertical-align: top;
    font-family: '微軟正黑體';
    text-align: right;
}
/*地標1 地標2 ...*/
.bt_lm{
    padding: 0 5px;
}
.drowStyle2{
    font-family: '微軟正黑體';
    height:28px;
    width:100px;
    text-align-last:center;
    outline: 1px solid #888;
    border:none;
    font-size: 0.85rem;
    margin: 0 5px 0 0;
}
/*新增天數*/
.btAddDay{
    margin-bottom: 10px;
}
/*按鈕左右間距*/
.btn-margin{
    margin: 0 2px;
}
/*行程隱藏*/
.btshowTour{
    display: none;
}/*end*/
/*隱藏的行程樣式設定*/
.biRight table tr:nth-child(odd){
    border:none;
}
.biRight table tr:nth-child(odd) td{
    padding: 0;
}/*end*/

/*行程清單*/
.bttour{
    font-size: 0;
    display: inline-flex;
    justify-content:left;
    width:95%;
    text-align: left;
    padding:10px 0 10px 25px;
    box-sizing: border-box;
    border-top:1px dashed #333;
    border-bottom:1px dashed #333;
    margin:10px auto 20px auto;
    background-color: rgba(255,255,255,0.45);
}
.bttour .bttourDay{
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    padding-right: 9px;
    margin-right: 7px; 
    border-right:3px solid #333;
    box-sizing: border-box;
    padding-top: 2px;
}
.bttourList{
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}
.bttourList>div{
    font-size:1rem;
    padding:0 5px;
    display: inline-block;
    vertical-align: middle;
}

.bttour .bttourList:last-child{
    padding-top: 2.5px;
}




/*.bttourLine{
    height:3px;
    width:15px;
    background-color: #333;
    position: relative;
}*/
/*.bttourLine:after{
    position: absolute;
    top: -8.3px;
    right: -1px;
    content:'';
    display:block;
    border-top:10px solid transparent;
    border-left:10px solid #333;
    border-bottom:10px solid transparent;
}*/
.icon-right{
    padding-left: 15px;
}
.bttourList:last-child .icon-right{
    display: none;
}


input[type="button"],.btAdd{
    cursor: pointer;
    outline: none;
    border:none;
    font-weight: 600;
    color:#fff;
    background-color: #075f9b;
}

input[type="button"]:hover,.btAdd:hover{
    background-color: #aa3535;
}
